<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Данные с базы</title>
</head>
<body>
    <input type="text" id="myInput" onkeyup="filterDataFunction()" placeholder="Искать по номеру сертификата..">
    <table id="infoFromDbTable">
        <tr class="header">
            <th>Номер сертификата:</th>
            <th>Дата:</th>
            <th>Знак поверки:</th>
            <th></th>
        </tr>
        <% for(var i = 0; i < dataFromDb.length;i++) { %>
            <tr>
                <td><%= dataFromDb[i].certificateId %></td>
                <td><%= JSON.parse(dataFromDb[i].data).date %></td>
                <td><%= JSON.parse(dataFromDb[i].data).sign %></td>
                <td><a href="/getDataById?id=<%= dataFromDb[i].id%>"><button>Редактивровать</button></td>
            </tr>
        <% } %>
    </table>

    <script src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous"></script>
    <script src="assets/js/main.js"></script>
</body>
</html>