<!DOCTYPE html>
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        script(src="https://code.jquery.com/jquery-2.2.4.js", integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=", crossorigin="anonymous")
        title Данные с базы
    body
        h3 Номер сертификата:
        each sert in dataFromDb
           p Номер сертификата: #{sert.certificateId};  Дата: #{JSON.parse(sert.data).date}; Знак поверки: #{JSON.parse(sert.data).sign};
           button(class = 'getDataById')&attributes({'data-id': sert.id}) Редактивровать
           |

        script(src="assets/js/main.js")